.menu {
  width: 290px;
  height: 340px;
  box-shadow: 0 0 4px 5px #f1f1f1;
  background-color: #ffffff;
}

.search {
  display: flex;
  justify-content: center;
  height: 70px;
}

.tags {
  height: 270px;
  overflow: auto;
  transform: translateX();
}
